# macOS Finder settings
.DS_Store
*/.DS_Store
.vscode
*/.vscode

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
/services/ocr_engine/tmp

# Docker volumes
docker-volumes/

# Secrets folder: ignore everything inside except .gitkeep
/secrets/*
!/secrets/.gitkeep